.posts-container
  .videos

.modal.post-details
  .modal-content
  .overlay

:javascript
  var callFilterAPI = (currentPage) => {
    $.get(
      "#{filter_posts_path}?page=" + currentPage,
      (data, status) => {
        if (status === 'success') {
          $('.posts-container .videos').append(data);

          $('.load-more').click( (e) => {
            $('.load-more').remove();
            callFilterAPI(currentPage + 1);
          })

          $('.video').click( (e) => {
            e.stopPropagation();
            e.preventDefault();
            var postId = $(e.currentTarget).data('post-id');
            showDetails(postId);
          })
        }
      }
    )
  };

  var showDetails = (postId) => {
    $.get(
      "/posts/" + postId,
      (data, status) => {
        if (status === 'success') {
          $('.modal .modal-content').append(data);
          $('.modal').show();

          $('.modal .close').click( (e) => {
            $('.modal').hide();
            $('.modal .modal-content').empty();
          })
        }
      }
    )
  }

  $(document).ready( () => {
    callFilterAPI(0);

    $('.modal .overlay').on('click', () => {
      $('.modal').hide();
      $('.modal .modal-content').empty();
    });
  })
