.search-bar
  .input
    = text_field_tag 'search', nil, id: 'search', placeholder: 'Search a video'
.search-result
  .content

.modal
  .modal-content
  .overlay

:javascript
  var handleSearchSuccess = (data) => {
    $(".search-result .content").append(data);

    $('.load-more').on('click', () => {
      var query = $('#search').val();
      var nextPageToken = $('.load-more').data('next-page-token');

      callSearchAPI(query, nextPageToken);
    })

    $('.video').click( (e) => {
      e.stopPropagation();
      e.preventDefault();
      var videoId = $(e.currentTarget).data('video-id');
      callGetPlayerAPI(videoId);
    })
  };

  var callSearchAPI = (query, nextPageToken) => {
    $.get(
      "#{search_path}?query=" + query + "&page_token=" + nextPageToken,
      (data, status) => {
        if (status === 'success') {
          $('.load-more').remove();
          handleSearchSuccess(data);
        }
      }
    ).fail( () => {
      alert('Search failed, please try again.')
    } )
  };

  var callGetPlayerAPI = (videoId) => {
    $.get(
      "#{get_player_path}?video_id=" + videoId,
      (data, status) => {
        if (status === 'success') {
          $('.modal .modal-content').append(data);
          $('.modal').show();

          $('.modal #share').click( (e) => {
            var videoId = $(e.currentTarget).data('video-id');
            $.post(
              "/posts",
              { video_id: videoId, authenticity_token: "#{form_authenticity_token}" },
              (data, status) => {
                if (status === 'success') {
                  window.location.href = '/'
                }
              }
            ).fail( () => {
              alert('Search failed, please try again.')
            })
          })

          $('.modal .close').click( (e) => {
            $('.modal').hide();
            $('.modal .modal-content').empty();
          })
        }
      }
    )
  }

  $(document).ready( () => {
    $('#search').on('keyup', (e) => {
      if (e.key === 'Enter' || e.keyCode === 13) {
        $('.search-result .content').empty();
        var query = $('#search').val();
        callSearchAPI(query, '');
      }
    });
    $('.modal .overlay').on('click', () => {
      $('.modal').hide();
      $('.modal .modal-content').empty();
    });
  })
