a {
  text-decoration: none;
  color: black;
}

button {
  border-radius: 4px;
  background: white;
  padding: 4px 8px;
  cursor: pointer;
}

.content {
  padding: 0 50px;
}

.flash-danger {
  padding: 20px 50px;
  color: white;
  background: red;
}

.flash-success {
  padding: 20px 50px;
  color: white;
  background: lightgreen;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .overlay {
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
  }

  .modal-content {
    display: flex;
    padding: 20px;
    z-index: 1;
    position: absolute;
    height: 90vh;

    iframe {
      max-height: 100%;
    }

    .video-player {
      display: flex;
      align-items: center;
      background: black;
    }

    .details {
      padding: 10px 20px 20px 20px;
      background: white;
      display: flex;
      flex-direction: column;
      overflow-wrap: break-word;
      max-width: 400px;

      .close {
        margin-left: auto;
        margin-bottom: 10px;
      }

      .title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 50px;
      }

      .shared-by {
        font-size: 20px;
      }

      .description {
        overflow-y: auto;
        height: 400px;
        margin-bottom: 20px;
      }

      .action-button {
        margin-top: auto;
      }
    }
  }
}
