.header {
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
  border-bottom: 2px solid black;

  .content {
    display: flex;
    align-items: center;

    .welcome {
      margin-right: 10px;
    }

    .button {
      margin-left: 10px;
      border: 1px solid black;
      border-radius: 4px;
      padding: 4px 8px;
      cursor: pointer;
    }
  }
}
